/* Base Styles */

body {
  color:#000000; /*black*/
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
}

/*end of Base Styles*/

/*Grid*/

.full-width{
  clear: left;
}

.half-width {
  float:left;
  width:40%;
}

.fifth-width {
  float: left;
  margin: 2.5%;
  width:15%;
}

.container {
  float: left;
  margin: 2.5% 0 0 2.5%;
  width:75%;
}


.card{
  margin:2.5%;
  background-color: #E5e5e5;/*light grey*/
  width: 40%;
}

/*end of Grid*/

/*header */
header{
  height:400px;
  position: relative;
}

#navbar{
  background-color: #ffffff; /*white*/
  position: fixed; /* Set the navbar to fixed position */
  bottom: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

#icon-star{
  padding: 1% 2.5% 0% 2.5%;
  float: left;
  height: 3em;
}

h1{
  font-weight: 900;
  font-size: 2.1em;
  color: #061c85; /*blue*/
}

#banner{
  margin:0%;
  background-image: url("../img/banner-river.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 350px;
}

nav{
  float: right;
  font-family:'Raleway', sans-serif;
  padding: 3.5% 0% 0% 0%;
  text-transform: uppercase;
  font-size: 0.8em;
}

nav ul{
  list-style-type: none;
}

nav ul li{
  display: inline-block;
}

nav ul a{
    color:#061c85; /*blue*/
    text-decoration: none;
    font-size: 14px;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

nav ul a:hover{
  color:#18d3cd; /*cyan*/
}

h2{
  clear: left;
  font-family: 'Indie Flower',serif;
  font-size: 1.75em;
  padding: 2.5% 0 0 2.5%;
  }

header h2{
  font-size: 2.5em;
  text-align: center;
  padding-top: 90px;
}

.button{
  background-color: #aec852; /*lime*/
  font-size: 1em;
  padding: 0.5em;
  border: none;
  border-radius: 3px;
  display: inline-block;
  margin-left: 45%;
}

.button a{
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.button a:hover{
  background-color:#18d3cd; /*cyan*/
}
/*end of header*/
/*services*/

#services .full-width{
  clear: both;
  height:300px;
  background-color: #ffffff; /*white*/
}

#services h3{
  font-weight: 400;
  font-size: 1.2em;
  text-align: center;
  margin-left: 5%;
}

#services img{
  height: 100px;
  margin-left: 45px;
  display: inline-block;
}

/*end of services section*/
/*work section*/

#work .full-width{
    background-color: #e5e5e5;
    height: 625px;
}

#card-row-1{
  clear: both;
  background-color: #e5e5e5;
}

#card-row-2{
  clear: both;
  background-color: #e5e5e5;
}

/*cards*/

#work .w3-card-4 {
    float:left;
    margin-top: 2.5%;
    margin-left: 2.5%;
    width: 45%;
    max-width: 600px;
    max-height: 500px;
    border-radius: 10px;
    display: inline-block;
    background-color: #ffffff;
}

.w3-card-4, .w3-hover-shadow:hover {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
}

*, *::before, *::after {
    box-sizing: inherit;
}

.w3-white, .w3-hover-white:hover {
    color: #000 !important;
}

.w3-light-grey, .w3-hover-light-grey:hover, .w3-light-gray, .w3-hover-light-gray:hover {
    color: #000 !important;
}

.w3-container, .w3-panel {
    padding: 0.01em 16px;
}
*, *::before, *::after {
    box-sizing: inherit;
}
.w3-white, .w3-hover-white:hover {
    color: #000 !important;
}
.w3-light-grey, .w3-hover-light-grey:hover, .w3-light-gray, .w3-hover-light-gray:hover {
    color: #000 !important;
}

.card-img{
  width: 100%;
  max-width:600px;
  max-height: 350px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

html, body {
    line-height: 1.5;
}

.more-button a{
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #aec852; /*lime*/
  font-size: 1.5em;
  padding: 0 0.3em 0 0.3em;
  border: none;
  border-radius: 5px;
  float:right;
  margin-right: 5px;
  margin-bottom:5px;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.more-button a:hover{
  background-color:#18d3cd; /*cyan*/
}


#work h3{
  padding-top: 2%;
  font-size:1.5em;
  text-align: center;
  margin: 0 auto;
}

/*end of work section*/
/*about section*/

#about .full-width{
  background-color: #fffff;
  height: 300px;
}

#about h2{
  padding: 0px 0px;
}

#about a{
  color: #061c85;
  font-weight: bold;
  text-decoration: none;
}

#contact-img{
  float: left;
  margin: 5% 0 0 2.5% ;
  vertical-align: middle;
  max-width: 200px;
  max-height: 200px;
  border-radius: 10px;
}

.two-thirds{
  max-width: 90%;
  vertical-align: left;
}
/*end of about section*/

/*contact section */

footer{
  text-align: center;
  background-color: #e5e5e5;
}

footer #envelope{
  color: #aec852;
  height:25px;
  width:25px;
}

footer a{
  color: #aec852;
  font-weight: bold;
  text-decoration: none;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

footer a:hover {
  color:#18d3cd;
}

footer ul{
  list-style-type: none;
}

footer ul li{
  display: inline-block;
  padding: 0 0 0 15px;
}

footer .icon{
  height: 25px;
  width: 25px;
}
